{% extends 'base.html' %}

{% load render_table from django_tables2 %}

{% block javascript %}	
  <script>
    $(document).ready(() => {
      $("#delete_follow").click(() => {
        const ids = []
        const table = document.getElementById("follow_table");
        table.querySelectorAll("input[type=checkbox]:checked").forEach(c => ids.push(c.getAttribute("value")));
        if (ids.length > 0) {
          $.ajax({
              type: "POST",
              url: "follow/delete",
              data: { ids },
              success: () => {
                $("input:checkbox").prop('checked', false);
                location.reload();
              }
          });
        }
          return false;
        });
        $("#reschedule_follow").click(() => {
        const ids = []
        const table = document.getElementById("follow_table");
        table.querySelectorAll("input[type=checkbox]:checked").forEach(c => ids.push(c.getAttribute("value")));
        if (ids.length > 0) {
          $.ajax({
              type: "POST",
              url: "follow/reschedule",
              data: { ids },
              success: () => {
                $("input:checkbox").prop('checked', false);
                location.reload();
              }
          });
        }
          return false;
        });
        $("#delete_tweet").click(() => {
          const ids = []
          const table = document.getElementById("tweet_table");
          table.querySelectorAll("input[type=checkbox]:checked").forEach(c => ids.push(c.getAttribute("value")));
          if (ids.length > 0) {
            $.ajax({
                type: "POST",
                url: "tweet/delete",
                data: { ids },
                success: () => {
                  $("input:checkbox").prop('checked', false);
                  location.reload();
                }
            });
          }
            return false;
          });
          $("#reschedule_tweet").click(() => {
          const ids = []
          const table = document.getElementById("tweet_table");
          table.querySelectorAll("input[type=checkbox]:checked").forEach(c => ids.push(c.getAttribute("value")));
          if (ids.length > 0) {
            $.ajax({
                type: "POST",
                url: "tweet/reschedule",
                data: { ids },
                success: () => {
                  $("input:checkbox").prop('checked', false);
                  location.reload();
                }
            });
          }
            return false;
          });
    });
  </script>	
{% endblock %}

{% block content %}
  <h3>Tweets</h3>
  
  {% render_table tweets_table %}
  <button id="reschedule_tweet" class="btn">Reschedule</button>
  <button id="delete_tweet" class="btn btn-danger">Delete</button>
  <hr/>
  <h3>Follows</h3>
  {% render_table follows_table %}
  <button id="reschedule_follow" class="btn" name="reschedule">Reschedule</button>
  <button id="delete_follow" class="btn btn-danger">Delete</button>
  <hr/>
{% endblock %}

