{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load twitter_extras %}

{{ form.media }}

{% block content %}
  <h3>Create</h3>
  <form action="{% url 'twitter:create_tweet' %}" method="post">
    {% csrf_token %}
    {{ create_form.user|as_crispy_field }}
    {{ create_form.body|as_crispy_field }}
    <input type="text" name="scheduled" class="datetimeinput form-control" id="id_scheduled" value="{% now 'Y-m-d H:i' %}">
    <button type="submit" class="btn btn-primary" value="create">Create</button>
  </form>
  <hr class="solid">
  <h3>Trends</h3>
  {% for t in trends %}
    <button type="submit" class="btn btn-sm btn-outline-dark" name="trend" value="{{t}}">{{t}}</button>
  {% endfor %}
{% endblock %}
