{% extends 'base.html' %}

{% load crispy_forms_tags %}

{{ form.media }}

{% block javascript %}
  <script>
    $.ajax({
      url: '{% url "twitter:say_hi" %}',
      data: {
        'name': 'bob'
      },
      dataType: 'json',
      success: (data) => {
        console.log(data)
      }
    })
  </script>
{% endblock %}

{% block content %}
  <form action="{% url 'twitter:create' %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary" value="create">Create</button>
  </form>
{% endblock %}
