{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load twitter_extras %}

{{ follow_form.media }}

{% block content %}
  <h3>Bulk</h3>
  <form action="{% url 'twitter:bulk_follow' %}" method="post">
    <select name="bulk_username">
      {% for u in usernames %}
        <option value="{{u}}">{{u}}</option>
      {% endfor %}
    </select>
    {% csrf_token %}
    {{ bulk_form|crispy }}
    <button type="submit" class="btn btn-primary" name="follow">Follow</button>
  </form>
  <hr/>
  <h3>Find</h3>
  <form class="form-horizontal" action="{% url 'twitter:follow' %}" method="post">
    {% csrf_token %}
    <select name="username">
      {% for u in usernames %}
        <option value="{{u}}">{{u}}</option>
      {% endfor %}
    </select>
    <div class="row" style="font-size: 10px;">
      <div class="col-12">{{ follow_form.hashtag|as_crispy_field }}</div>
      <div class="col-12">{{ follow_form.blacklist|as_crispy_field }}</div>
      <div class="col-2">{{ follow_form.followers_min|as_crispy_field }}</div>
      <div class="col-2">{{ follow_form.followers_max|as_crispy_field }}</div>
      <div class="col-2">{{ follow_form.friends_min|as_crispy_field }}</div>
      <div class="col-2">{{ follow_form.friends_max|as_crispy_field }}</div>
      <div class="col-2">{{ follow_form.followers_friend_ratio_min|as_crispy_field }}</div>
      <div class="col-2">{{ follow_form.followers_friend_ratio_max|as_crispy_field }}</div>
      <div class="col-2">{{ follow_form.since|as_crispy_field }}</div>
    </div>
    <button type="submit" class="btn btn-primary" name="suggest">Suggest</button>
    {% if suggestions|length > 0 %}
      <button type="submit" class="btn btn-success" name="save">Save</button>
    {% endif %}
    <hr/>
    <h3>Suggestions</h3>
    <table class="table" style="font-size: 8px;">
      <tr>
        <th>Save</th>
        <th>Name</th>
        <th>Description</th>
        <th>Created</th>
        <th>Followers</th>
        <th>Friends</th>
        <th>Defaults</th>
        <th># status</th>
        <th>Follow</th>
        <th>Unfollow</th>
      </tr>
      {% for s in suggestions %}
        <tr>
          <td>
            <input type="checkbox" name="to_save" value="{{s.screen_name}}">
          </td>
          <td>
            {% with "https://twitter.com/"|addstr:s.screen_name as link %}
              <a name="{{name}}" value="{{ s.screen_name }}" href="{{ link }}" target="_blank" rel=noopener>
                {{ s.screen_name }}
              </a>
            {% endwith %}
          </td>
          <td>{{ s.description }}</td>
          <td>
            {% with s.created_at|month_year as date %}
              {{ date }}
            {% endwith %}
          </td>
          <td>
            {% with s.followers_count|comma_number as ct %}
              {{ ct }}
            {% endwith %}
          </td>
          <td>
            {% with s.friends_count|comma_number as ct %}
              {{ ct }}
            {% endwith %}
          </td>
          <td>
            {% if s.default_profile or s.defualt_profile_image %}
              true
            {%else%}
              false
            {%endif%}
          </td>
          <td>{{ s.statuses_count }}</td>
          <td>
            {% with "follow:"|addstr:s.screen_name as name %}
              {% with follow_date|randomize_time as time %}
                <input name="{{name}}" value="{{time}}">
              {% endwith %}
            {% endwith %}
          </td>
          <td>
            {% with "unfollow:"|addstr:s.screen_name as name %}
              {% with unfollow_date|randomize_time as time %}
                <input name="{{name}}" value="{{time}}">
              {% endwith %}
            {% endwith %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <hr/>
    <h3>Pending</h3>
    <table class="table">
      <tr class="sticky">
        <th>Action</th>
        <th>User</th>
        <th>To follow</th>
        <th>Unfollow</th>
        <th>Followed</th>
        <th>Unfollowed</th>
      </tr>
      {% for p in pending %}
        <tr>
          <td>
            <a class="btn btn-sm" href="{% url 'twitter:delete_follow' p.id%}">🗑️</a>
          </td>
          <td>{{ p.user }}</td>
          <td>{{ p.username }}</td>
          <td>{{ p.unfollow }}</td>
          <td>{{ p.followed }}</td>
          <td>{{ p.unfollowed }}</td>
        </tr>
      {% endfor %}
    </table>
    <hr/>
  </form>
{% endblock %}
